@import '../../../assets/scss/style.scss';

.brand-text-icon {
  font-size: 26px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: $primary;

  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

header {
  border-bottom: 1px solid $gray-200;
  width: 100%;

  .container {
    li.nav-item {
      font: inherit;
      &.active {
        a.nav-link {
          color: $primary;
        }
      }

      a {
        &.nav-link {
          color: $gray-900;
          padding-right: 20px;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}
