.section-hero {
  .icon-image {
    width: 36px;
    height: 36px;
  }

  .hero-image {
    height: 400px;

    .hero-img {
      width: 100%;
      margin: -30px 0 0 -30px;
      position: absolute;
      z-index: 1;
    }

    .hero-frame {
      width: 100%;
      position: absolute;
      margin: 0 -15px -15px 0;
    }
  }

  .desc {
    line-height: 170%;
  }

  .hero-icon {
    margin-top: 70px;
    margin-bottom: 42px;
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .section-hero {
    .hero-image {
      max-height: 250px;

      .hero-img {
        margin-left: 20px;
        width: 80%;
      }

      .hero-frame {
        margin-left: 40px;
        width: 80%;
      }
    }
  }
}
