@import '../../../../assets/scss/color-variables';

.file-input {
  margin-bottom: 20px;

  .input-group {
    background-color: #fff;

    .input-group-text {
      pointer-events: none;
      border: 0;
      cursor: auto;
      background-color: $gray-900;
      padding: 0;
      border-radius: 4px !important;
      font-size: 24px;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 999;
    }

    .form-control {
      border: 0;
      border-radius: 0;
      outline: 0;
      box-shadow: none;
      background-color: $gray-100;
      padding: 10px 16px;
      margin: 4px 1px;
    }
  }
}
