.section-hero {
  .icon-image {
    width: 36px;
    height: 36px;
  }

  .hero-image {
    width: 100%;
    height: 410px;

    .hero-img {
      margin: -30px 0 0 -30px;
      z-index: 1;
    }

    .hero-frame {
      margin: 0px -15px -15px 0px;
    }
  }

  .desc {
    line-height: 170%;
  }

  .hero-icon {
    margin-top: 70px;
    margin-bottom: 42px;
  }
}
